%br
.gameHead= @game.name
%br
= link_to "back", games_path

// list of players of this game
%ul.listOfPlayers 
  - @game.users.each do |user|
    %li= user.name + " #{user.email}"
    
// follow or unfollow game
-if !@game.vacancies.find_by(user_id: current_user.id)
  =form_for @game, url: add_vacancies_game_path(params[:id]), method: :post do |f|
    = hidden_field_tag 'game_id', @game.id
    = f.submit "Follow"
-else	
  =form_for @game, url: destroy_vacancies_game_path(params[:id]), method: :delete do |f|
    = hidden_field_tag 'game_id', @game.id
    = f.submit "Unfollow"

//comment
= tree_of_comments @comments
